@font-face {
  font-family: 'Retro';
  src: url('../assets/retro.ttf');
}
body, html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.canvas-container {
  height: 100%;
}
#canvas {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  transition: 1s;
  background-color: rgba(0,0,0,0.4);
}
.modal.active {
  display: flex !important;
}
.modal.active .modal-content {
  animation: fade-in 0.5s;
}
.modal-content {
  position: relative;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  gap: 40px;
}
.modal-content #stars {
  height: 300px;
  width: 300px;
}
.modal .btns {
  display: flex;
  width: 100%;
}
.modal .btn {
  box-sizing: border-box;
  width: 50%;
  padding: 15px 0;
  border: none;
  background-color: #46eb9c;
  color: white;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.btn.outlined {
  background-color: white;
  color: #46eb9c;
  border: 4px solid #46eb9c;
}
#btn:hover {
  background-color: #3bd189;
}
.btn.outlined:hover {
  color: #6ef9b6;
  background-color: #f3f3f3;
}
.modal h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: black;
}